@mixin footer{
    height: 15%;
    text-align: left;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
@mixin profilepic {
    max-width: 50%;
    border-radius: 50%; 
} 
@mixin menu{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@mixin for-mobile{
    @media (max-width: 768px){
        @content;
    }
        
    }


