@mixin footer{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@mixin toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}
@mixin a-link {
    text-decoration: none;
    color: white;
    
}
@mixin nav-bar{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
}