@use "mixins";
@use "variables" as v;


  .top-nav {
    @include mixins.navmenu;
    flex-direction: row;
    background-color: #dee5e71c;
    color: v.$fontcolor;
   
  }
  .menu {
    flex-direction: row;
    @include mixins.menu;
    li {
      margin: 0 1rem;
      overflow: hidden;
      
      @include mixins.for-mobile{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: v.$fontcolor;
        background-color: rgba(92, 92, 92, 0.133);
        a:hover{
          text-decoration: none;
        }

      }
    
      }
      @include mixins.for-mobile{
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center; 
      }
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mixins.for-mobile{
    display: flex;
    }
  }
  
  #menu-toggle {
    display: none;
    @include mixins.for-mobile{
      &~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      &:checked ~ .menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }

    }
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(128, 128, 128, 0.144);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  a{
    color: v.$fontcolor;;
  }
  header{
    display: flex;
    background: url(/bilder/negative-space-black-forest-dawn.jpg) no-repeat center center/cover;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index:-1;
  }
  .header-content{
    color: v.$fontcolor;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    position:relative;
    line-height: 60px;
  }
  .header-item{
    font-size: 1.8rem;
    margin-top: 10rem;
    margin-bottom: -10rem;
    color: v.$fontcolor;
    
}
section h2{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:v.$margintop;
  margin-bottom: 2rem;
  &_text{
    @include mixins.text-box;
    span{
      position:absolute;
      font-size: 35px;
      transform: rotate(180deg);
      margin-top: -1rem;
    } 
    p{
      position: relative;
      text-indent: 2rem;
    }
    @include mixins.for-mobile{
      width: 350px;
      height: auto;
    } 
  }
  img{
    @include mixins.profilepic;
    }
    @include mixins.for-mobile{
    width: 100%;
    grid-template-columns: 1fr;

  }
}
  footer{
  color: v.$fontcolor;;
  background-color: black;
  @include mixins.footer;
   a{
    margin-right: 0.5em;
  }
  @include mixins.for-mobile{
    height: 100vh;
    text-align: left;
    align-items: center;
    padding: 20px;
    flex-direction: column;

  }
  
}
  