a {
  text-decoration: none;
  color: white;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: rgba(240, 255, 255, 0.129);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar-links {
  font-size: 1.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.navbar-links.active {
  display: flex;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url(/bilder/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content {
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  line-height: 4em;
}
.header-content p {
  font-size: 1.2rem;
}

.header-item {
  font-size: 1.8rem;
  margin-top: 10rem;
  color: black;
}

section {
  width: 100vw;
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template: 1fr;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.container-content {
  margin: 2em;
}

.container img {
  max-width: 50%;
  border-radius: 50%;
}

.container-content--text {
  background-color: rgb(156, 156, 156);
  width: auto;
  height: auto;
  margin-top: 1rem;
  border-radius: 0.5em;
  padding-top: 1em;
  padding: 1.5rem;
  text-align: justify;
  justify-content: center;
}

.comma {
  width: 20px;
}

nav > img {
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
}

section h2 {
  text-align: center;
}

footer {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 20px;
    margin-top: 0px;
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
  }
  .navbar-links li {
    margin: 0 30px;
  }
  .navbar-links li:hover {
    text-decoration: underline;
    color: white;
  }
  .toggle-button {
    display: none;
  }
  .navbar-links li:hover {
    text-align: right;
    background-color: transparent;
  }
  .navbar-links.active {
    display: none;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .container-content--text {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    flex-direction: row;
    text-align: left;
    height: 10%;
  }
  footer a {
    margin-right: 0.3em;
  }
}
* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

/*# sourceMappingURL=main.css.map */
